.header-links {
    color: #191970;
    font-size: 32px;
    text-align: center;
    font-family: 'Sen', sans-serif;
    text-shadow: 0 0 5px #FFFFFF;
    text-decoration: none;
}

.header-links:hover {
    color: #A9A9A9;
}

.background1 {
    background: url("images/img1.png");
    background-size: cover;
}

.social-media {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.header {
    margin-top: 10vh;
    color: #FFFFFF;
    font-size: 48px;
    font-family: 'Oxanium', cursive;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;

}

/* fade background in and out */
#slideshow {
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slide 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('images/img1.png');
}

@keyframes slide {
    0% {
        background-image: url("images/img1.png");
    }
    25% {
        background-image: url("images/img2.png");
    }
    50% {
        background-image: url("images/img3.png");
    }
    75% {
        background-image: url("images/img4.png");
    }
    100% {
        background-image: url("images/img1.png");
    }
}

.bottom-link {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 32px;
    color: #191970;
    font-family: 'Sen', sans-serif;
    text-shadow: 0 0 5px #FFFFFF;
    text-decoration: none;
}

.bottom-link:hover {
    color: #A9A9A9;
}