.navbar {
  background-color: rgba(60, 60, 60, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
}

.navbar a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.navbar a:hover {
  color: #b5b5b5;
}

.navbar a.leftnav {
    float: left;
    color: white;
}

.navbar a.leftnav:hover {
    color: #b5b5b5;
}

/*homepage background*/
.background1 {
    background: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/*about page background*/
.background3 {
    background: url("images/contactbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.social-media {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.header {
    margin-top: 10vh;
    color: #FFFFFF;
    font-size: 7vh; /*48px*/
    font-family: 'Oxanium', cursive;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;

}

/* fade background in and out */
#slideshow {
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slide 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('images/img1.png');
}

@keyframes slide {
    0% {
        background-image: url("images/img1.png");
    }
    25% {
        background-image: url("images/img2.png");
    }
    50% {
        background-image: url("images/img3.png");
    }
    75% {
        background-image: url("images/img4.png");
    }
    100% {
        background-image: url("images/img1.png");
    }
}